body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e1e;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

input,
button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  cursor: pointer;
  background: #4caf50;
  color: white;
}

.room-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.video-grid {
  display: grid;
  flex: 3;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  padding: 5px;
  background: #111;
  overflow-y: auto;
}

video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: black;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-messages div {
  margin-bottom: 5px;
}

#chat-input {
  flex: 0;
  width: calc(100% - 20px);
  margin-bottom: 5px;
}
