body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0f0f0f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

video {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  background: #222;
}

.chat {
  width: 90%;
  max-width: 600px;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
}

#messages {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #333;
  padding: 5px;
}

input,
button {
  padding: 10px;
  margin: 2px 0;
}

input {
  width: 70%;
  border-radius: 5px;
  border: none;
}

button {
  width: 28%;
  border: none;
  border-radius: 5px;
  background: #0078ff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #005fcc;
}
